body {
    background-image: url('../../../assets/images/hero_2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Roboto Mono", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-size: .96rem;
    line-height: 1.8;
    color: #6c757d;
  }
  .slider-item:before {
    content: "";
    position: absolute ;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: .3;
}

.justify-content-center {
  -webkit-box-pack: center!important;
  -ms-flex-pack: center!important;
  justify-content: center!important;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.slider-item .slider-text {
  color: #fff;
  height: calc(100vh);
  min-height: 700px;
}
.slider-item .slider-text h1 {
  font-size: 7rem;
  color: #fff;
  line-height: 1.2;
  font-weight: 700!important;
  margin-bottom: 30px;
}
h1, h2, h3, h4, h5 {
  color: #000;
  line-height: 1.5;
  font-family: "DM Serif Display", sans-serif;
  font-weight: 900;
}

.container {
  width: 100%;
  text-align: center;
  margin-top: 25vh;
}
.circle {
  stroke: #f8aa28;
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
  -webkit-transition: all 0.5s ease-in-out;
  opacity: 0.3;
}
.playBut {
  /*  border: 1px solid red;*/
  display: inline-block;
  -webkit-transition: all 0.2s ease;
}
.playBut .triangle {
  -webkit-transition: all 0.3s ease-in-out;
  stroke-dasharray: 240;
  stroke-dashoffset: 480;
  stroke: #000;
  transform: translateY(0);
}
.playBut:hover .triangle {
  stroke-dashoffset: 0;
  opacity: 1;
  stroke: #f8aa28;
  animation: nudge 0.3s ease-in-out;
}
@keyframes nudge {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  70% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}
.playBut:hover .circle {
  stroke-dashoffset: 0;
  opacity: 1;
}
