

<div class="section portfolio-section">
    <div class="container">
      <div class="row mb-5 justify-content-center" data-aos="fade-up">
        <div class="col-md-8 text-center">
          <h1 class="mb-4 section-title">The quiddity of this website is to provide convenience</h1>
          <p class="mk1">Our college have more than more than 3K CSE undergrads and our official University website disgrace all of us.
            Only by your support we can show the world how capable our students are.
          </p>
          <p><a href="contact.html">Suggest us new ideas.</a></p>
        </div>
      </div>
    </div>
    <div class="container-fluid"  >
      <div class="row mb-5 no-gutters" >
        <div class="col-sm-6 col-md-6 col-lg-6" data-aos="fade" data-aos-delay="100">
          <a href="portfolio-single.html" class="work-thumb" >
            
            <img src="../../../assets/images/ClubSection.jpg" alt="Image" class="img-fluid" appBannerShadow>
            <div class="work-text">
              <ul class="list">
                <li>
              <span>
              <h2>Clubs Activity</h2>
              <p>Participate</p>
            </span>
          </li>
          </ul>
            </div>
          </a>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6" data-aos="fade" data-aos-delay="200">
          <a href="portfolio-single.html" class="work-thumb">
            
            <img src="../../../assets/images/demon girl wallpaper Images   Frompo   1.jpg" alt="Image" class="img-fluid" appBannerShadow>
            <div class="work-text">
              <ul class="list">
                <li>
              <h2>Study Material</h2>
              <p>Notesx</p>
            </li>
          </ul>
            </div>
          </a>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6" data-aos="fade" data-aos-delay="300">
          <a href="portfolio-single.html" class="work-thumb">
            
            <img src="../../../assets/images/FoodCourt.jpg" alt="Image" class="img-fluid" appBannerShadow>
            <div class="work-text">
              <ul class="list">
                <li>
              <h2>Galgotias Food Court</h2>
              <p>Review your favourite bites</p>
            </li>
          </ul>
            </div>
          </a>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6" data-aos="fade" data-aos-delay="400">
          <a href="portfolio-single.html" class="work-thumb">
            <img src="../../../assets/images/work_4.jpg" alt="Image" class="img-fluid" appBannerShadow>
            <div class="work-text">
              <ul class="list">
                <li>
              <h2>Grade Calculator</h2>
              <p>Tool</p>
            </li>
          </ul>
            </div>
          </a>
        </div>

      </div>
      
      <div class="row mt-5">
        <div class="col-12 text-center">
          <p><a href="portfolio.html" class="btn btn-outline-white px-4 py-3">Suggest More Features</a></p>
        </div>
      </div>
    </div>
  </div>
