<div class="mk6">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">


  <h1 class="mk1">Notices</h1>
  <br>
  <br>
  <div class="card">
    <div class="container">
      <div class="item">
        <div class="block-33 h-100">
          <div class="vcard d-flex mb-3">
            <div class="image"><img src="../../../assets/images/person_1.jpg" alt="Person here" class="mk4"></div>
            <div class="name-text align-self-center">
              <h2 class="heading">ET Updated Schedule</h2>
              <span class="meta">Postponed Exam Date</span>
            </div>
          </div>
  
          <div class="mk5">
            <blockquote>
              <p>&rdquo;All the students are informed that due to some extraordinary circumstances End Term Examination &
                Supplementary Examination – December 2019 scheduled on 21st December 2019 & 22nd December 2019 are
                postponed.
                These examination will now be conducted on 24th December 2019 & 26th December 2019. &ldquo;</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <br>
  <button class="mk2">
    < </button>

      <button class="mk3">
        >
      </button>
</div>