<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 ml-auto mb-5 order-2">
                <span class="d-block text-uppercase text-primary">Be passionate about your work</span>
                <br>
                <h2 class="mb-4 section-title">Do Things That Matters. Plan. Create. Grow.</h2>
                <p class="mk2">My name is Kumar Mayank Verma,I CS undergrad.I created this website because actually I feel the need
                    of the tools provided in this website.I welcome anyone who can expand the site functionality.If your
                    fuctionality is merged in the master branch then you will be credited on the website developer page.
                </p>
                <p class="mk2">I may not be in Harvard University but I will make sure this university becomes a world
                    recognized university.
                </p>

                <br>

                <app-about-button></app-about-button>
            </div>
            <div class="col-lg-6 order-1">
                <figure class="img-dotted-bg">
                    <img src="../../../assets/images/about_1.jpg" alt="Image" class="img-fluid">

                    <img src="../../../assets/images/work_1.jpg" alt="Image" class="img-fluid img-absolute"
                        data-aos="fade-left">

                </figure>

            </div>
        </div>
    </div>
</div>